PROJECT_NAME=TaskHub
DEBUG=true
DATABASE_URL=postgresql+asyncpg://taskhub:taskhub@localhost:5432/taskhub


############################
# Database
############################

DATABASE__PORT=5432
DATABASE__DB=taskhub
DATABASE__USERNAME=taskhub
DATABASE__PASSWORD=taskhub
